:root {
  --color-white: #ffffff;
  --color-light-gray: #d6e2f0;
  --color-grayish-blue: #7b879d;
  --color-dark-blue: #1f3251;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Outfit", sans-serif;
  height: 100vh;
  font-size: 15px;
}

img {
  max-width: 100%;
  border-radius: 20px;
  /* height: 300px; */
}

/* PROJECTS STARTS HERE */

.container {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--color-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: var(--color-white);
  border-radius: 20px;
  margin-top: 20px;
}

p {
  color: var(--color-grayish-blue);
}