:root {
  --color-white: #ffffff;
  --color-light-gray: #d6e2f0;
  --color-grayish-blue: #7b879d;
  --color-dark-blue: #1f3251;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  border-radius: 17px;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--color-light-gray);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 360px;
  margin: 0 auto;
}

.card{
  background-color: hsl(0, 0%, 100%);
  padding: 18px;
  border-radius: 17px;
  text-align: center;
  margin: 0 1em;
}

.texts h2 {
  margin-top: 1rem;
  color: var(--color-dark-blue);
}

.texts p {
  margin-top: 1rem;
  color: var(--color-grayish-blue);
}
